@model IList<Sample.Repository.UserInfo>
@using Sample.Repository;
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table>
<tr><td>Name</td><td>EmailID</td><td>PhoneNo</td><td>UserName</td></tr>
@foreach (UserInfo user in Model)
{
    <tr><td>@user.Name</td>
    <td>@user.EmailId</td>
    <td>@user.PhoneNo</td>
    <td>@user.UserName</td></tr>
}

</table>

